.topContainer {
    margin-top: 2rem;
    /* height: 4rem; */
    /* width: 9rem; */
    display: flex;
    justify-content: space-between;
  }
  
  .searchBar {
    display: flex;
    margin-left: 25rem;
    width: 30%;
    height: 2rem;
  }
  
  .addButton .searchBarImage {
    border: 1px;
  }

  .table {
    margin-top: 2rem;
  }
  
  .table th {
    width: 300px;
  }
  
  .btn {
    
    display: flex;
  }


  .btn button {
    width: 5rem;
  }
  
  #addStockButton{
    width: 6rem;
  }