.report {
    background-color: black;
    border: none;
    color: white;
    padding:5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
  }

  .details{
      margin: auto;
  }

  .dcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    margin:auto;
    padding:25px;
    border:2px solid black;
    border-radius: 4px;
    background-color:#f2f2f2;
  }
  
   .buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }