.vcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    margin:auto;
    padding:25px;
    border:2px solid black;
    border-radius: 4px;
    background-color:#f2f2f2;
  }

  input[type=text],[type=date], select{
    padding: 5px;
    width:70%;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .inputs{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }

  .button {
    background-color: #d4d06c;
    border: none;
    padding:5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .divider{
    width:200px;
    height:auto;
    display:inline-block;
}