.topContainer {
  display: flex;
  margin-top: 2rem;
  height: 4rem;
  width: 100%;

  justify-content: space-between;
}

.searchBar {
  display: flex;
  height: 2rem;
  justify-content: flex-end;
}

.addButton .searchBarImage {
  border: 1px;
}

.table {
  margin-top: 2rem;
}

.table th {
  width: 200px;
}

.buttons {
  display: flex;
}

.buttons button {
  margin-right: 2px;
  margin-left: 2px;
  width: 4rem;
}

.delete_modal_buttons {
  display: flex;
  justify-content: space-between;
}

.delete_modal_buttons button {
  width: 48%;
}

#addButton {
  width: 15%;
}
